<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ catInfo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- back button -->
  <ion-button color="light" (click)="backClicked()"><ion-icon name="arrow-back"></ion-icon> Go Back</ion-button>

  <!-- slider -->
  <ion-slides [hidden]=viewToggle pager="true" [options]='{ autoHeight: true, centeredSlides: true }'>
    <ion-slide *ngFor="let catPost of catPosts">
      <ion-card>
        <ion-card-header>
          <ion-card-title [innerHTML]="catPost.title.rendered"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <p>
              <b>{{ catPost.acf.simple_translation }} &nbsp;-&nbsp;</b>
              <i>{{ catPost.acf.word_type }}</i>
            </p>
          </div>
          <div [innerHTML]="catPost.content.rendered"></div>
          <ion-button fill="outline" [routerLink]="['/word/', catPost.slug]">View</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- list -->
  <ion-list [hidden]=!viewToggle class="catPosts-list">
    <ion-list-header no-padding>
      <ion-label>List of {{ catInfo }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let catPost of catPosts" no-padding>
      <ion-button fill="none" [innerHTML]="catPost.title.rendered" [routerLink]="['/word/', catPost.slug]"></ion-button>
    </ion-item>
  </ion-list>

  <!-- toggle button -->
  <ion-grid class="toggler-button">
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)=viewToggler()><ion-icon [name]=iconToggler></ion-icon><span [innerHTML]=togglerText></span></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
