.catPosts-list {
  margin-top: 24px;
  ion-list-header {
    ion-label {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.toggler-button {
  padding-top: 16px;
  text-align: center;
}