<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Word Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngFor="let item of items">
  <ion-button color="light" (click)="backClicked()"><ion-icon name="arrow-back"></ion-icon> Go Back</ion-button>
  <ion-card>
      <ion-card-header>
        <ion-card-title [innerHTML]="item.title.rendered"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <p>
            <b>{{ item.acf.simple_translation }} &nbsp;-&nbsp;</b>
            <i>{{ item.acf.word_type }}</i>
          </p>
        </div>
        <div [innerHTML]="item.content.rendered"></div>
      </ion-card-content>
    </ion-card>
</ion-content>
