<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <!-- posts -->
    <ion-list-header>
      <ion-label>Words</ion-label>
    </ion-list-header>

    <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title [innerHTML]="item.title.rendered"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <p>
            <b>{{ item.acf.simple_translation }} &nbsp;-&nbsp;</b>
            <i>{{ item.acf.word_type }}</i>
          </p>
        </div>
        <div [innerHTML]="item.content.rendered"></div>
        <ion-button fill="outline" [routerLink]="['/word/', item.slug]">View Word</ion-button>
      </ion-card-content>
    </ion-card>
    
  </ion-list>
</ion-content>
