// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-card-content.card-content p {
  margin-bottom: 16px;
}
ion-list ion-item ion-button.button-block {
  display: block;
  width: 100%;
}
.swiper-container-horizontal {
  padding-bottom: 2rem;
  ion-card-header {
    padding-bottom: 0;
  }
}
