<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <!-- posts -->
    <ion-list-header>
      <ion-label>Chinuk Wawa Language</ion-label>
    </ion-list-header>

    <!-- language button -->
    <ion-item>
      <ion-button routerLink="/categories" size="large" expand="block" fill="outline" color="primary">Language</ion-button>
    </ion-item>
    <!-- cultural notes -->
    <ion-item>
      <ion-button routerLink="/categories" size="large" expand="block" fill="outline" color="secondary">Cultural Notes</ion-button>
    </ion-item>
    <!-- search -->
    <ion-item>
      <ion-button routerLink="/categories" fill="outline" color="tertiary" size="large" expand="block">Search</ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>
