<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <!-- posts -->
    <ion-list-header>
      <ion-label>Posts</ion-label>
    </ion-list-header>

    <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-subtitle>{{ item.date | date }}</ion-card-subtitle>
        <ion-card-title [innerHTML]="item.title.rendered"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="item.excerpt.rendered"></div>
        <div class="item-note">
          <a href="{{ item.link }}">Read More</a>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- pages -->
    <ion-list-header>
      <ion-label>Pages</ion-label>
    </ion-list-header>

    <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-subtitle>{{ item.date | date }}</ion-card-subtitle>
        <ion-card-title [innerHTML]="item.title.rendered"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="item.excerpt.rendered"></div>
        <div class="item-note">
          <a href="{{ item.link }}">Read More</a>
        </div>
      </ion-card-content>
    </ion-card>
    
  </ion-list>
</ion-content>
